<?xml version="1.0"?>
<!--
/**
* @category    PayRandom
* @package     PayRandom_PRPayment
* @copyright   Copyright (c) 2013 PayRandom (http://www.payrandom.com)
*/
-->
<config>
	<modules>
		<PayRandom_PRPayment>
			<version>0.1.0</version>
		</PayRandom_PRPayment>
	</modules>
	<global>
		<models>
			<prpayment_events>
                <class>PayRandom_PRPayment_Model</class>
            </prpayment_events>
			<prpayment>
				<class>PayRandom_PRPayment_Model</class>
				<resourceModel>prpayment_resource</resourceModel>
			</prpayment>
			<prpayment_resource>
				<class>PayRandom_PRPayment_Model_Resource</class>
				<entities>
					<deal>
						<table>prpayment_deals</table>
					</deal>
					<dealproduct>
						<table>prpayment_deals_products</table>
					</dealproduct>
					<predefineddeal>
						<table>prpayment_predefined_deals</table>
					</predefineddeal>
					<productstatistics>
						<table>prpayment_product_statistics</table>
					</productstatistics>
				</entities>
			</prpayment_resource>
		</models>
		<events>
            <catalog_product_prepare_save>
                <observers>
                    <prpayment_events_observer>
                        <type>singleton</type>
                        <class>PayRandom_PRPayment_Model_Observer</class>
                        <method>onUpdate</method>
                    </prpayment_events_observer>
                </observers>
            </catalog_product_prepare_save>
            <admin_system_config_changed_section_payment>
            	<observers>
                    <prpayment_events_observer>
                        <type>singleton</type>
                        <class>PayRandom_PRPayment_Model_Observer</class>
                        <method>onUpdateConfig</method>
                    </prpayment_events_observer>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
		<resources>
			<prpayment_setup>
				<setup>
					<module>PayRandom_PRPayment</module>
					<class>PayRandom_PRPayment_Model_Resource_Setup</class>
				</setup>
			</prpayment_setup>
		</resources>
		<helpers>
			<prpayment>
				<class>PayRandom_PRPayment_Helper_Data</class>
			</prpayment>
			<prpayment_api>
				<class>PayRandom_PRPayment_Helper_API</class>
			</prpayment_api>
			<payment>
				<rewrite>
					<data>PayRandom_PRPayment_Helper_Data</data>
				</rewrite>
			</payment>
		</helpers>
		<blocks>
			<adminhtml>
				<rewrite>
					<catalog_product_grid>PayRandom_PRPayment_Block_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_price>PayRandom_PRPayment_Block_Product_Price</product_price>
					<product_view>PayRandom_PRPayment_Block_Product_View</product_view>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<onepage_review_info>PayRandom_PRPayment_Block_Checkout_Onepage_Review_Info</onepage_review_info>
					<cart_item_renderer>PayRandom_PRPayment_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
					<cart>PayRandom_PRPayment_Block_Checkout_Cart</cart>
					<onepage_link>PayRandom_PRPayment_Block_Checkout_Onepage_Link</onepage_link>
					<onepage_shipping_method>PayRandom_PRPayment_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
					<onepage_payment>PayRandom_PRPayment_Block_Checkout_Onepage_Payment</onepage_payment>
				</rewrite>
			</checkout>
			<tax>
				<rewrite>
					<checkout_grandtotal>PayRandom_PRPayment_Block_Tax_Checkout_Grandtotal</checkout_grandtotal>
					<checkout_subtotal>PayRandom_PRPayment_Block_Tax_Checkout_Subtotal</checkout_subtotal>
				</rewrite>
			</tax>
			<prpayment>
				<class>PayRandom_PRPayment_Block</class>
			</prpayment>
		</blocks>
	</global>
	<default>
		<payment>
			<prpayment>
				<model>prpayment/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Pay Random</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</prpayment>
		</payment>
	</default>
	<frontend>
		<layout>
            <updates>
                <prpayment>
                    <file>prpayment.xml</file>
                </prpayment>
            </updates>
        </layout>
    
		<routers>
			<prpayment>
				<use>standard</use>
				<args>
					<module>PayRandom_PRPayment</module>
					<frontName>payrandom</frontName>
				</args>
			</prpayment>
		</routers>
		<translate>
			<modules>
				<PayRandom_PRPayment>
					<files>
						<default>PayRandom_PRPayment.csv</default>
					</files>
				</PayRandom_PRPayment>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
			    <args>
                    <modules>
                        <PayRandom_PRPayment after="Mage_Adminhtml">PayRandom_PRPayment</PayRandom_PRPayment>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <prpayment>
                    <file>prpayment.xml</file>
                </prpayment>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <prpayment>
                            <title>Pay Random</title>
                        </prpayment>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<PayRandom_PRPayment>
					<files>
						<default>PayRandom_PRPayment.csv</default>
					</files>
				</PayRandom_PRPayment>
			</modules>
		</translate>
    </adminhtml>
    <crontab>
        <jobs>
            <prpayment_events>
                <schedule>
                	<cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                	<model>prpayment_events/observer::cronTask</model>
                </run>
            </prpayment_events>
        </jobs>
    </crontab>
</config>
